<nav class="navbar navbar-light" style="background-color: #2f658b;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: rgb(43, 13, 71)" href="#">{{title}}</a>

    <ul class="navbar-nav flex-row align-items-center">
      <li class="nav-item" *ngIf="login.isLoggedIn()">
        <a class="nav-link" (click)="logout()" style="cursor:pointer;">
          <i class="bi bi-box-arrow-left" style="font-size: 1.5rem;" ></i>
        </a>
      </li>
      <li class="nav-item" *ngIf="login.isLoggedIn()">
        <button type="nav-link" disabled="true" class="btn btn-primary btn-sm">{{user.username}}</button>
      </li>
    </ul>

  </div>
</nav>

