/* You can add global styles to this file, and also import other style files */

.text-center{
  text-align: center;
}

.full-width{
  width: 100%;
}

.ml20{
  margin-left: 20px !important;
}

.mr20{
  margin-right: 20px !important;
}

.mt20{
  margin-top: 20px !important;
}

.mb20{
  margin-bottom: 20px !important;
}

.ml10{
  margin-left: 10px !important;
}

.mr10{
  margin-right: 10px !important;
}

.mt10{
  margin-top: 10px !important;
}

.mb10{
  margin-bottom: 10px !important;
}

.ml70{
  margin-left: 70px !important;
}

/* styles from AngularMaterial */
.custom-snackbar {
    background-color: #4CAF50 !important;
    color: white !important;
    font-weight: bold;
  }

  .white-snackbar {
    background-color: white !important;
    color: black !important;
  }

  /* general colors styles for Aplication*/

  html, body { height: 100%; }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ececec !important;
  }
  
  .shadow-style {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .standar-red 
  {
    color: #f95959 !important;
  }

  .standar-blue
  {
    background: linear-gradient(to bottom, #142d4c, #142d4c 40%, #254678);
     /* background-color: #142d4c!important; */
  }

  .standar-white-tetx
  {
    color: rgb(255, 255, 255)!important;
  }

  .my-icon {
    color: white!important;
  }



  